/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header_item{
  margin-right: 10px;
  font-family: 'Droid Serif';
  text-decoration:none;
  display:inline;
  color:white;
  font-weight: bold;
  font-size:15px;
  vertical-align: middle
}


.form_field{
  border:0;
  background-color: #2A2C2B;
  color: white;
  border-radius: 3px;
  box-shadow: 0 3px 2px black;
  width:175px
}

.form_button{
  border:0;
  background-color: #2A2C2B;
  color: white;
  border-radius: 3px;
  box-shadow: 0 3px 2px black
}

.nav-link:hover{
  color:black
}

.nav-link{
  text-decoration: none;
  color:white
}

.logo{
  text-decoration: none;
  color:white;
  font-family: 'Pacifico';
  font-size:25px;
  padding-right: 50px;
  padding-left: 0px;
}
.logo:hover{
  color:gold
}